:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}

.messenger {
  height: calc(100vh - 100px);
  display: flex;
}

.chatMenu {
  display: flex;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.sliderActive {
  display: flex;
}
.sliderDeactive {
  display: none;
}

.chatBox {
  flex: 5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: var(--dark-shadow);
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.matchInfo {
  display: flex;
  background-color: rgb(243, 161, 236);
  padding: 10px;
  box-shadow: var(--light-shadow);
}
.backIcon {
  font-size: 1.5rem;

  padding: 2px;
}
.matchInfoImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 5px;
}
.matchInfo h3 {
  margin-left: 5px;
  margin-top: 5px;
}
.videoCall {
  font-size: 2.5rem;
  margin-left: auto;
  padding: 0px;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.matches {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.matchesWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  /* position: absolute; */
  /* top: 10%; */
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

div::-webkit-scrollbar {
  width: 10px;
  background: #7a7878;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(141, 31, 31);
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}
