.messageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.messageHead {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageHead h3 {
  margin-top: 8px;
  margin-left: 2px;
}
.topMessage {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.ownMessage {
  background-color: pink;
  padding: 1rem;
  border-radius: 20%;
  max-width: 500px;
}

.otherMessage {
  color: rgb(236, 234, 234);
  padding: 1rem;
  border-radius: 20%;
  max-width: 500px;
  background-color: rgb(41, 31, 182);
}
.bottomMessage {
  display: flex;
  justify-content: center;
}
