.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #060d7c;
  color: white;
  max-width: 300px;
  overflow-wrap: break-word;
}

.messageBottom {
  font-size: 12px;
  margin-top: 0px;
  color: rgb(131, 131, 131);
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(81, 16, 83);
  color: rgb(218, 203, 203);
}
