.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 5px 9px;
  border-radius: 15px;
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
  max-width: 300px;
  overflow-wrap: break-word;
}

.messageBottom {
  font-size: 12px;
  margin-top: 0px;
  color: rgb(131, 131, 131);
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(238, 255, 198);
  color: rgb(58, 63, 63);
}
