@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


.buildprofile .row{
    padding: 0.5%;
    font-family: 'Love Ya Like A Sister', cursive;
}

.buildprofile h6{
   font-weight: 700;
   font-size: 1.1rem;
}

.buildprofile input[type='text'], input[type='number']{
    padding: 2% 3%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(51, 2, 10);
    width: 70%;
}

.buildprofile input[type='radio'], label{
    height: 90%;
    width: 90%;
    cursor: pointer;
    font-size: 18px;
}

textarea{
    padding: 2% 3%;
}

#choose-file{
    display: flex;
}
#choose-file label, input[type='file']{
    display: flex;
}
input[type='file']::file-selector-button {
    display: none;
    transition: 1s;
}
#choose-file label{
    width: auto;
    padding: 4%;
    margin: 4% 2%;
    border-radius: 50%;
    color: white;
    background-color: rgb(202, 67, 255);
}

#choose-file label:hover{
    background-color: rgb(180, 0, 252);
}

#choose-file input[type='file']{

    margin: 6.5% 3%;
    height: 2%;
    width: 55%;
    padding: 0;
}

#choose-file span{
    padding: 6% 1%;
    visibility: hidden;
    cursor: pointer;
}

select, input[type='date']{
    padding: 2% 3%;
    cursor: pointer;
}
