.outer {
  padding-top: 2%;
  display: flex;
}
.inner {
  width: 33%;
  margin: 0 1%;
}
.inner:nth-child(1) {
  width: 28%;
}
.inner:nth-child(2) {
  width: 35%;
  padding: 1%;
}
.inner:nth-child(3) {
  width: 35%;
  padding: 1%;
}

.inner h2 {
  text-align: center;
  font-family: "Style Script", cursive;
}

.recommend-card span {
  width: 25%;
  padding: 1%;
  margin: 0 auto;
}

.recommend-card span i {
  color: rgb(255, 160, 204);
  width: 100%;
  transition-duration: 0.5s;
  cursor: pointer;
}

.recommend-card span i:hover {
  color: rgb(255, 0, 0);
}
