input{
    border-radius: 50px;
    padding: 1.5% 7%;
    font-size: 25px;
    font-family: Comic Sans MS;
    background-color: rgb(250, 236, 239);
}

i{
    position: relative;
    left: 5%;
}

.button{
    border-radius: 50%;
    background-color: black;
}

.animate{
    display: fixed;
    margin-right: 0px;
    transform: translate(-300px, 0px);
    height: 1000px;
    border-radius: 50%;
    width: 1000px;
    border: 2px solid black;
}