input{
    border-radius: 50px;
    padding: 1.5% 7%;
    font-size: 25px;
    font-family: Comic Sans MS;
    /* background-color: rgb(250, 236, 239); */
}

i{
    position: relative;
    left: 5%;
}
